{% extends 'diary/base.html' %}
{% load static %}

{% block title %}web上にあなた専用の日記ページを保存できるサービス{% endblock %}

{% block header %}
        <header class="masthead text-center text-white" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="masthead-content">
                <div class="site-heading">
                    <h1>Clean Diary</h1>
                    <span class="subheading">A Diary Theme by Start Bootstrap</span>
                </div>
                    <!-- <h1 class="masthead">Clean Diary</h1>
                    <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2> -->
                    <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a> -->
            
            </div>
        </header>
{% endblock %}

