{% extends 'base.html' %}

{% load static %}

{% block title %}貴方専用の日記ページ | Private Diary{% endblock %}

{% block header %}

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>My Diary</h1>
                        <span class="subheading">A Diary Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block contents %}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">

            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">My Diary</h2>
                    <p>Web上で日記の作成/編集/削除ができる</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Save Your Diary</h2>
                    <p>あなたの日記をWebに保存</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">

            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Membership System</h2>
                    <p>会員制のWeb日記サービス</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}